@model HRSDmgmt.Models.Candidate

@{
    ViewData["Title"] = "Create";
}


<h4 class="text-secondary mt-2">Kandydat</h4>
<hr />
<div class="d-flex justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-2">
                <label asp-for="OfferId" class="control-label text-secondary"></label>
                <select asp-for="OfferId" class ="form-control" asp-items="ViewBag.OfferId"></select>
            </div>
            <div class="form-group mt-2">
                <label asp-for="EmployeeId" class="control-label text-secondary"></label>
                <select asp-for="EmployeeId" class ="form-control" asp-items="ViewBag.EmployeeId"></select>
            </div>
            <div class="d-flex justify-content-around mt-3">
                <div class="form-group">
                    <input type="submit" value="Utwórz" class="btn btn-primary rounded-5" />
                </div>
                <div class="form-group">
                    <a asp-action="Index" class="btn btn-outline-secondary rounded-5">Anuluj</a>
                </div>
            </div>
            @if (ViewBag.error != null)
            {
                <div class="d-flex justify-content-around mt-3">
                    <div class="alert alert-info d-inline-block">
                        <b>@ViewBag.error</b>
                    </div>
                </div>
            }
        </form>
    </div>
</div>






@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
