<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HRSDmgmt</title>
    <!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="~/css/bootstrap_colors.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.13.1/datatables.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HRSDmgmt.styles.css" asp-append-version="true" />
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&family=Oswald:wght@300;400;700&display=swap" rel="stylesheet"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&family=Rubik:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</head>
<body class="bg-light">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">

                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><img src="/photo/logo.png" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
         
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 mx-5">
                        <li class="nav-item">
                            <a class="nav-link hov" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-house-door-fill text-primary"></i>About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link hov" asp-area="" asp-controller="Home" asp-action="Privacy"><i class="bi bi-shield-fill-exclamation text-info"></i>RODO</a>
                        </li>
                        @if (User.IsInRole("admin") || User.IsInRole("user"))
                        {
                        <li class="nav-item">
                            <a class="nav-link hov" asp-area="" asp-controller="Companies" asp-action="Index"><i class="bi bi-building-fill text-danger"></i>Companies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link hov" asp-area="" asp-controller="Offers" asp-action="Index"><i class="bi bi-clipboard-check-fill text-warning"></i>Offers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link hov" asp-area="" asp-controller="Employees" asp-action="Index"><i class="bi bi-file-person-fill text-success"></i>Employees</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link hov" asp-area="" asp-controller="Home" asp-action="Dashboard"><i class="bi bi-bar-chart-line-fill text-secondary"></i>Stats</a>
                        </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="mx-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-white">
        <div class="container rubik text-center">
            SWPW Programowanie aplikacji internetowych: Grupa V - HRSDmgmt &copy; 2022 - ALL RIGHTS RESERVED
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
