<span class="d-flex justify-content-center mt-5">
    <h1 class="rubik text-danger">Human Resource Service Delivery Management</h1>
</span>
<div class="mx-5">

    <br />
    <p>
        Jesteśmy firmą pośrednictawa pracy świadczącą kompleksową usługę zatrudnienia pracowników w oparciu o elektroniczny system HRSDmgmt. 
        Jesli jesteś firmą, która poszukuje pracowników, załóż konto i złóż do Nas swoją ofertę/zlecenie poprzez stronę internetową, zakładka Offers.
        Jeśli jesteś osobą poszukującą pracy, zapoznaj się z Naszymi obecnymi ofertami pracy w zakładce Jobs.
    </p>
    <p>
        Świadczymy usługi dla firm w ramach pracy tymczasowej oraz outsourcingu pracowniczego.
    </p>
        
        
    <h4>Praca tymczasowa</h4>
    <p>
        Praca tymczasowa to wykonywanie na rzecz danego pracodawcy czynności przez czas nie dłuższy niż wskazany w ustawie. Czynności te muszą mieć charakter sezonowy, okresowy i doraźny. Czynności zlecone pracownikowi tymczasowemu nie mogą pokrywać się z obowiązkami pracowników zatrudnionych bezpośrednio u pracodawcy. Wyjątkiem jest sytuacja, gdy pracownicy nie są w stanie wykonać danego zadania na czas. W pracę tymczasową zaangażowane są trzy podmioty – pracodawca, pracownik tymczasowy oraz agencja pracy tymczasowej. Rolą agencji pracy tymczasowej jest przeprowadzanie procesu rekrutacji oraz dokonanie wszelkich formalności związanych z zatrudnieniem nowego pracownika. Zamiast podpisywania umowy o pracę tymczasową strony podpisują umowę o pracę na czas określony lub umowę o pracę na czas wykonania określonej pracy.
    </p>

    <br />
    <h4>Outsourcing pracowniczy</h4>
    <p>
        Outsourcing to przekazywanie zadań, projektów czy procesów do realizacji firmie zewnętrznej na podstawie umowy cywilnoprawnej. Umowa zawierana jest między firmą outsourcingową, a Klientem.

        Outsourcing jest działaniem nastawionym na dłuższą współpracę. Najczęściej obejmuje takie kwestie jak administracja spraw kadrowych lub systemów informatycznych, obsługa prawna i księgowość, szkolenia czy usługi ochroniarskie. Oszczędność czasu i pieniędzy to najczęstszy powód wyboru outsourcingu. Nierzadko korzystanie z usług zewnętrznych jest tańsze od utrzymywania na stałe zespołu pracowników. Pracodawca oszczędza też czas na procesie rekrutacji i obsłudze kadrowo-płacowej. Ponadto, outsourcing umożliwia realizację usług na lepszym poziomie oraz dostęp do specjalistycznej branżowej wiedzy.
    </p>

    <br />
    
</div>
