
<span class="d-flex justify-content-center mt-4">
<h1 class="rubik">Klauzula RODO</h1>
</span>
<div class="mx-5">

<br/>
<p>Zgodnie z art. 13 ust. 1 i 2 rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych, dalej: RODO) informujemy, że:
</p>

<br/>
<h4>Administrator danych</h4>
<p>Administratorem Pana/Pani danych jest spółka <b>Grupa_5 z siedzibą w Płocku, ul. Niewiadoma 2, 09-400 Płock.</b>
</p>

<br/>
<h4>Inspektor ochrony danych</h4>
<p>
W sprawach związanych z ochroną danych osobowych można kontaktować się z inspektorem ochrony danych pisemnie: za pośrednictwem poczty elektronicznej pod adresem e-mail: <b>admin@firma.pl</b> lub poczty tradycyjnej pod adresem siedziby administratora danych/siedziby firmy.
</p>

<br />
<h4>Cele i podstawy przetwarzania</h4>
<p>Przetwarzamy Pana/Pani dane osobowe na podstawie:</p>

<p>art. 6 ust. 1 lit. b RODO w celu zawarcia i wykonywania umowy o pracę;
art. 6 ust. 1 lit. c oraz art. 9 ust. 2 lit. b RODO w celu wykonania obowiązków wynikających z prawa pracy, przez co rozumiemy także:
wykonywanie obowiązków z zakresu BHP,
rozliczanie wszelkich należności,
zgłaszanie pracowników do odpowiednich urzędów,
archiwizowanie akt osobowych,
wykonywanie obowiązków względem ZUS, urzędów skarbowych czy NFZ,
ocenę zdolności pracownika do pracy,
wypełnienie obowiązku prawnego wynikającego z art. 8 ustawy z dnia 4 marca 1994 r. o zakładowym funduszu świadczeń socjalnych (t.j. Dz.U. z 2019 r. poz. 1352 ze zm.) oraz z regulaminu ZFŚS;
art. 6 ust. 1 lit. a oraz art. 9 ust. 2 lit. a RODO w celach wskazanych w treści zgód na przetwarzanie danych osobowych – jeśli takie zgody były wyrażane;
art. 10 RODO w zakresie pozyskiwania informacji o niekaralności zgodnie z ustawą z dnia 12 kwietnia 2018 r. o zasadach pozyskiwania informacji o niekaralności osób ubiegających się o zatrudnienie i osób zatrudnionych w podmiotach sektora finansowego (Dz.U. z 2018 r. poz. 1130) [UWAGA: na tej podstawie dane mogą przetwarzać jedynie podmioty wskazane w ustawie o zasadach pozyskiwania informacji o niekaralności osób ubiegających się o zatrudnienie i osób zatrudnionych w podmiotach sektora finansowego];
art. 6 ust. 1 lit. f RODO w celu realizacji prawnie uzasadnionego interesu administratora, tj.:
dochodzenia ewentualnych roszczeń związanych z zawartą umową o pracę,
stosowania monitoringu wizyjnego/monitoringu poczty elektronicznej/monitoringu Internetu/monitoringu lokalizacji pojazdów służbowych,
realizacji umów z klientami, kontrahentami i dostawcami organizacji.
</p>

<br />
<h4>Odbiorcy danych</h4>
<p>Dane osobowe mogą być przekazywane następującym odbiorcom danych:</p>

<ul>
    <li>bankom – w celu wypłaty wynagrodzeń;</li>
    <li>organom państwowym (np. ZUS, urzędom skarbowym i innym uprawnionym na podstawie przepisów prawa) – w celu wykonania obowiązków ciążących na administratorze;</li>
    <li>podmiotom przyznającym benefity pracownikom;</li>
    <li>podmiotom świadczącym usługi grupowego ubezpieczenia pracowników i współpracowników;</li>
    <li>podmiotom świadczącym usługi pocztowe (tj. Poczcie Polskiej i kurierom);</li>
    <li>podmiotom obsługującym nasze systemy teleinformatyczne (tj. firmom hostingowym, dostawcom usług IT);</li>
    <li>podmiotom świadczącym dla nas usługi z zakresu pomocy prawnej, kadrowej, księgowości, podatków lub usługi doradcze.</li>
</ul>

<br />
<h4>Czas przetwarzania danych</h4>
<p>Pana/Pani dane osobowe będą przechowywane przez okres zatrudnienia oraz po ustaniu okresu zatrudnienia:</p>

<ul>
    <li>do momentu przedawnienia roszczeń z tytułu umowy o pracę m.in. zgodnie z art. 291 Kodeksu pracy, tj. co do zasady przez 3 lata, a w zakresie umów cywilnoprawnych m.in. zgodnie z art. 118 Kodeksu cywilnego, tj. co do zasady przez 3 lata;</li>
    <li>do momentu wygaśnięcia obowiązku ich archiwizacji, tj. akta kadrowe są archiwizowane przez 50 lat od dnia zakończenia pracy przez ubezpieczonego pracownika bądź do 10 lat m.in. dla umów zawieranych po 1 stycznia 2019 r.;</li>
    <li>dane osobowe zawarte w dokumentacji, na podstawie której przyznano świadczenia z ZFŚS, oraz w pozostałej dokumentacji, np. we wnioskach pracowników o świadczenia, będą przechowywane przez 5 lat;</li>
    <li>do dnia wniesienia uzasadnionego sprzeciwu lub cofnięcia zgody, w sytuacji gdy podstawą przetwarzania danych osobowych jest prawnie uzasadniony interes administratora lub dobrowolna zgody osoby, której dane dotyczą;</li>
    <li>nagrania z monitoringu wizyjnego będą przechowywane przez okres do 3 miesięcy, a jeśli będzie to niezbędne do ustalenia, dochodzenia lub obrony roszczeń – do czasu ostatecznego zaspokojenia dochodzonych roszczeń lub upływu terminu ich przedawnienia.</li>
</ul>

<br />
<h4>Prawa osób, których dane dotyczą</h4>
<p>Przysługuje Panu/Pani (w sytuacjach wskazanych przepisami RODO):</p>

<ul>
    <li>prawo dostępu do danych;</li>
    <li>prawo żądania sprostowania danych;</li>
    <li>prawo do usunięcia danych;</li>
    <li>prawo do ograniczenia przetwarzania;</li>
    <li>prawo do wyrażenia sprzeciwu wobec przetwarzania danych z przyczyn związanych z Pana/Pani szczególną sytuacją, zgodnie z art. 21 RODO;</li>
    <li>w zakresie, w jakim podstawą przetwarzania Pana/Pani danych osobowych jest zgoda wyrażona na podstawie przepisów RODO – prawo do wycofania takiej zgody. Wycofanie zgody nie ma wpływu na przetwarzanie, którego dokonano przed jej wycofaniem;</li>
    <li>prawo wniesienia skargi do Prezesa Urzędu Ochrony Danych Osobowych (ul. Stawki 2, 00-193 Warszawa), gdy uzna Pan/Pani, że przetwarzanie Pana/Pani danych osobowych narusza przepisy RODO.</li>
</ul>

<br />
<h4>Czy musi Pan/Pani podawać swoje dane osobowe?</h4>

<p>Podanie przez Pana/Panią danych osobowych w zakresie wskazanym przepisami Kodeksu pracy jest warunkiem zawarcia umowy – bez podania danych osobowych nie jest możliwe zawarcie umowy o pracę.
</p>

<br/>
<h4>Przekazywanie danych osobowych do państw trzecich</h4>
<p>Pana/Pani dane osobowe będą przekazywane do państw trzecich, a więc poza teren Unii Europejskiej.
</p>

<br />
<h4>Zautomatyzowane przetwarzanie, w tym profilowanie</h4>
<p>Pana/Pani dane osobowe nie przetwarzane w sposób zautomatyzowany (w tym w formie profilowania), mogący wywoływać wobec Pana/Pani skutki prawne lub w podobny sposób istotnie wpływać na Pana/Pani sytuację.
</p>
</div>